{% assign days  = IDX_0.stats %}
{% assign today = days | last %}
{% assign total_visits = 0 %}
{% for d in days %}
  {% assign total_visits = total_visits | plus: d.daily %}
{% endfor %}
{% assign avg_daily = total_visits | divided_by: days.size %}

{% assign top_stat_type = trmnl.plugin_settings.custom_fields_values.top_stat_display %}

{% comment %} IDX_3 always contains the top stat data {% endcomment %}
{% if top_stat_type != 'today' %}
  {% assign top_stat_data = IDX_3 %}
{% endif %}

<div class="layout layout--col layout--center h--full gap--small">
  <!-- Stats -->
  <div class="grid grid--cols-1 gap--small">
    <div class="item">
      <div class="meta"></div>
      <div class="content">
        <span class="value value--tnums">{{ total_visits }}</span>
        <span class="label label--small">Total Visits</span>
      </div>
    </div>
    <div class="item">
      <div class="meta"></div>
      <div class="content">
        <span class="value value--tnums">{{ avg_daily }}</span>
        <span class="label label--small">Daily Average</span>
      </div>
    </div>
    <div class="item">
      <div class="meta"></div>
      <div class="content">
        {% if top_stat_type == 'today' %}
          <span class="value value--tnums">{{ today.daily }}</span>
          <span class="label label--small">Today</span>
        {% elsif top_stat_type == 'top_country' %}
          {% assign top_item = top_stat_data.stats | first %}
          <span class="value value--tnums">{{ top_item.id }}</span>
          <span class="label label--small">Top Country</span>
        {% elsif top_stat_type == 'top_system' %}
          {% assign top_item = top_stat_data.stats | first %}
          {% assign display_name = top_item.name %}
          {% if top_item.name == 'Windows' %}{% assign display_name = 'Win' %}
          {% elsif top_item.name == 'macOS' %}{% assign display_name = 'Mac' %}
          {% elsif top_item.name == 'Android' %}{% assign display_name = 'And' %}
          {% elsif top_item.name == 'iOS' %}{% assign display_name = 'iOS' %}
          {% elsif top_item.name == 'Linux' %}{% assign display_name = 'Lin' %}
          {% elsif top_item.name == 'Chrome OS' %}{% assign display_name = 'CrOS' %}
          {% endif %}
          <span class="value value--tnums">{{ display_name }}</span>
          <span class="label label--small">Top System</span>
        {% elsif top_stat_type == 'top_browser' %}
          {% assign top_item = top_stat_data.stats | first %}
          <span class="value value--tnums">{{ top_item.name }}</span>
          <span class="label label--small">Top Browser</span>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% render "title_bar" %}